<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=titulo %></title>
</head>

<body>

  <section class="container">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <h1><%=titulo %></h1>
    <h1><%-tituloStyle %></h1>

    <h1>
        <% for(let i = 0; i < numeros.length; i++){ %>
            <%= numeros[i] %>
        <% }; %>
    </h1>

    <form method="POST">
        <label>Digite nome do cliente</label>
        <input type="text" name="cliente">
        <button>Submit</button>
    </form>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>